@charset "utf-8";
@font-face {
    /*自定义字体-用于绘制字体图标*/
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?lawp0h');
    src: url('fonts/icomoon.eot?lawp0h#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?lawp0h') format('truetype'),
    url('fonts/icomoon.woff?lawp0h') format('woff'),
    url('fonts/icomoon.svg?lawp0h#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] { /*统一设置字体图标*/
    /* 使用 !important 是要防止与浏览器扩展的问题，改变字体 */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* 更好的字体渲染 */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#player {
    width: 100%;
    height: 100%;
    background: #272822;
    font-family: arial, "Microsoft YaHei";
    border-radius: 3px;
}

#playerControl {
    position: absolute;
    height: 32px;
    width: 20%;
    top: 40%;
    margin: 0 0.5%;
}

#playerControl i {
    margin: 0 5px;
    font-size: 32px;
    cursor: pointer;
    color: #A7A7A7;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#playerTime {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#playerControl i:hover {
    color: #FFFFFF;
}

#songInfo {
    position: absolute;
    border-bottom: 1px solid #575656;
    height: 25px;
    width: 100%;
    left: 0;
    top:0;
}

#songInfo #songTitle, #artist, #album, span {
    margin: 0 5px;
    cursor: default;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 100%;
    font-size: 14px;
    line-height: 25px;
    float: left;
}

#songInfo #album, #artist {
    font-size: 12px;
}

#songInfo span {
    text-align: center;
    font-weight: bold;
    margin: 0 5px;
}

#playerShow {
    position: absolute;
    font-size: 14px;
    left: 30%;
    height: 50px;
    width: 70%;
    top: 30%;
    margin: 0 0 0 0.5%;
    cursor: default;
}

#playerShow #progress {
    position: absolute;
    bottom: 15px;
    border-radius: 4px;
    left: 0;
    width: 95%;
    height: 10px;
    background: #5a5a5a;
}

#playerShow #progress #playerProgressBar {
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 4px;
    height: 100%;
    background: #258fb8;
}

#playerControl #volumeBox {
    padding-top: 5px;
    display: inline-block;
    width: 35px;
}

#volumeBox #volumeBar {
    position: absolute;
    margin: -20px 0 0 40px;
    border-radius: 4px;
    width: 100px;
    height: 5px;
    background: #5a5a5a;
    cursor: pointer;
}

#volumeBox:hover #volumeBar {
    background: #FFFFFF;
}

#volumeBox #volumeBar #volumeSize {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    border-radius: 4px;
    background: #258fb8;
}